/*
	A mixin is similar to a function
	It has multiple declarations, as well as can take arguments;


	To Declare a mixin
	@mixin mixin-name

	To use a mixin
	@include mixin-name

	To use a mixin with arguments
	@include mixin-name($argument1, $argument2)
*/


@mixin button($background, $font, $hover){
	background-color: $background;
	color: $font;
	padding: 0.5em 1em;
	border-radius: 3px;
	margin: 1em;
	display: inline-block;
	text-decoration: none;
	transition: all 150ms ease-in-out;
	&:hover{
		background-color: $hover;
	}
}

@mixin slide-in($duration, $delay){
	-webkit-animation: slide-in $duration $delay cubic-bezier(0.000, -0.530, 0.000, 1.400) forwards;
	        animation: slide-in $duration $delay cubic-bezier(0.000, -0.530, 0.000, 1.400) forwards;
}

@mixin multi-line($padding){
	padding: $padding 0;
	-moz-box-shadow: $padding 0 0 $white, -$padding 0 0 $white;
	box-decoration-break: clone;
	box-shadow: $padding 0 0 $white, -$padding 0 0 $white;
}
